<div class="container shadow p-4">
<% unless @logged_in %>

  <% if @login_form.errors.present? %>
    <div class="alert alert-danger">
      <% @login_form.errors.full_messages.each do |message| %>
        <%= content_tag :li, message %>
      <% end %>
    </div>
  <% end %>
  <%= form_for @login_form, url: session_path, html: { class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control mx-2' %>
    </div>
    <%= submit_tag 'Login', class: 'btn btn-primary' %>
  <% end %>

<% else %>

<%= form_for session_path, method: :delete do %>
  <%= submit_tag 'Logout', class: 'btn btn-primary' %>
<% end %>

<% end %>
</div>
